* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	background-color: #ff9f43;
}

body {
	background-color: #ff9f43;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23c91722' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d90a3c' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23e50556' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23ef1371' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23f5268e' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23f73aab' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

.container-principal {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 20px;
	padding: 40px;
	margin-top: 20px;
	
}

.todo-app {
	width: 100%;
	max-width: 340px;
	background: rgb(241, 201, 124, 0.9);
	margin: 17px auto 20px;
	padding: 40px 30px 70px;
	border-radius: 10px;
}

.todo-app h1 {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.todo-app h2 img {
	width: 30px;
	margin-left: 10px;
}


button {
	border: none;
	outline: none;
	padding: 16px 50px;
	background: #ff5945;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	border-radius: 40px;
}

.btn-edit {
	background: #dfb33cc9;
	border-radius: 50px;
	font-size: 14px;
	padding: 20px 20px;
}

.btn-done {
	background: #6dad42c9;
	border-radius: 50px;
	font-size: 14px;
	padding: 20px 20px;
}

.fch {
	font-style: italic;
	font-size: 13px;

}

.btn-view {
	background: #56b6a9c9;
	border-radius: 50px;
	font-size: 14px;
	padding: 20px 20px;
}

.btn-delete {
	background: #d86464d3;
	border-radius: 50px;
	font-size: 14px;
	padding: 20px 20px;
}

/* Seccion Create */
.row {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: rgb(241, 201, 124);
	border-radius: 30px;
	padding: 20px;
	margin-bottom: 25px;
}

input {
	flex: 1;
	border: none;
	outline: none;
	background: transparent;
	padding: 10px;
}

textarea {
	flex: 1;
	border: none;
	outline: none;
	background: transparent;
	padding: 10px;
}

ul li {
	list-style: none;
	font-size: 17px;
	padding: 12px 8px 12px 50px;
	user-select: none;
	cursor: pointer;
	position: relative;
}

ul li::before {
	content: '';
	position: absolute;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	background-image: url(images/unchecked.png);
	background-size: cover;
	background-position: center;
	top: 12px;
	left: 8px;
}

ul li.checked {
	color: #555;
	text-decoration: line-through;
}

ul li.checked::before {
	background-image: url(images/checked.png);
}

ul li span {
	position: absolute;
	right: 0;
	top: 5px;
	width: 40px;
	height: 40px;
	font-size: 22px;
	color: #555;
	line-height: 40px;
	text-emphasis: none;
	border-radius: 50%;
}

ul li span:hover {
	background: #edeef0;
}